@import "mixins"
/*==========  Fonts  ==========*/
@import "fonts"
/*==========  Libs  ==========*/
@import "libs"

body
	margin: 0
	background-color: #fff
a
	text-decoration: none
	outline: none
	outline-style: none
a:hover
	text-decoration: none
	outline: none
	outline-style: none
a:focus
	text-decoration: none
	outline: none
	outline-style: none
a:visited
	text-decoration: none
	outline: none
	outline-style: none
img
	display: inline-block
	max-width: 100%
	height: auto
input, textarea 
	text-decoration: none
	outline: none
	outline-style: none
	border: none
button
	background-color: transparent
	outline-style: none
	border: none
button:hover
	background-color: transparent
	outline-style: none
button:focus
	background-color: transparent
	outline-style: none
.parallax-container
	height: 100vh
	width: 100%
.no-gutter > [class*='col-']
	padding-right: 0
	padding-left: 0
.text-center
	text-align: center
i
	vertical-align: middle
/*==========  General  ==========*/

/*==========  Header  ==========*/

/*==========  Media  ==========*/
@import "media"
